<!--The content below is only a placeholder and can be replaced.-->

<div class="content">
  <h1>
    Welcome!
  </h1>
  <div *ngIf="!(loading$ | async); else loading" class="ftp">
    <!-- Вывести ftp address из стора -->
    <div class="ftp__item">
      <p>Ftp address:&nbsp;</p>
      <p>{{ (ftpAddress$ | async)?.address }}</p>
    </div>

    <!-- Вывести ftp port из стора -->
    <div class="ftp__item">
      <p>Ftp port:&nbsp;</p>
      <p>{{ (ftpAddress$ | async)?.port }}</p>
    </div>

    <!-- Вывести ftp username из стора -->
    <div class="ftp__item">
      <p>Ftp username:&nbsp;</p>
      <p>{{ (ftpCredentials$ | async)?.username }}</p>
    </div>

    <!-- Вывести ftp password из стора -->
    <div class="ftp__item">
      <p>Ftp password:&nbsp;</p>
      <p>{{ (ftpCredentials$ | async)?.password }}</p>
    </div>
  </div>

  <ng-template #loading>
    <div class="loading" *ngIf="loadingTick$ | async as loadingTick">
      Loading{{'.'.repeat(loadingTick)}}
    </div>
  </ng-template>

  <br />
  <div>Raw ftp settings: {{ (ftpQuery.selectRawFtpSettings() | async) }}</div>
</div>
